extends layout

block content

  h1=heading

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
        select(id='title-select' type='select' placeholder='Select title' name='title' required='true')
            
            for title in title_list
                if item
                    option(value=title._id selected=(item.title.toString()==title._id.toString() ? 'selected' : false)) #{title.name}
                else
                    option(value=title._id) #{title.name}
        
   

    div.form-group
      label(for='format') Format:
      select#status.form-control(type='select' placeholder='Select formt' name='format' required='true')
        option(value='CD') CD
        option(value='8-track') 8-track
        option(value='cassette') Cassette
        option(value='vinyl') Vinyl

    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='Available') Available
        option(value='Loaned') Loaned
        

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg